.logoHeader {
    height: 24px;
    width: 155px;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #475467 !important;
    background-color: #475467 !important;
    border: var(--bs-border-width) solid #475467 !important;
}

.navbar-nav {
    --bs-nav-link-color: #475467 !important;
    --bs-nav-link-hover-color: #429BF4 !important;
    --bs-nav-link-disabled-color: #797e86 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #429BF4 !important;
    font-weight: bolder;
}

.active-bold-text {
    color: #429BF4 !important;
}

.score-number {
    color: #264968;
}


.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:250px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#000;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:50px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}